@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

.aboutus {
    display: flex;
    height: 550px;
    padding: 10px 50px;
    margin: 70px 10px;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.info-text {
    width: 50%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    
}

.info-heading {
    padding-top: 15px;
    color: black;
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;

}

.info-subheading {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  
}

.info-img {
    background-image: url("../../assets/work.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 45%;
    height: 55vh;
 
}

@media (max-width: 998px) {
    .aboutus {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .info-img{
      width: 100%;
      margin: 30px;
      height: 60vw;
    }


    .info-text{
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width:520px) {

    .aboutus{
        padding: 10px 50px;
    }

    .info-heading {
        font-size: 2.5rem;
   
    }

    .info-subheading {
        font-size: 1rem;
    }
}

